---
import '../styles/global.css';
import Layout from '../layouts/layout.astro';


---


 <Layout>
	 <div class="container">
		 <h1>Hola mundo</h1>
		 <p>Bienvenido a mi sitio web.</p>
		</div>
	
	</Layout>

	

	
  
  

	