---
import '../styles/global.css';
---

<footer class="flex  items-center justify-center bg-gray-100 p-4 rounded-lg shadow-md  bottom-0 w-full">
        <ul class="flex space-x-4">
            
            
    <p class="text-sm text-gray-500 font-bold">lotraesmexico 2025</p>
</footer>