---
import logo_nav from '../assets/mujer.png';
---
<nav class="bg-gray-100 p-4 rounded-lg shadow-md">
<section class=" mx-auto max-w-6xl flex  items-center justify-between ">

	<ul >
		<img src={logo_nav.src} alt="logo de un bolso" class="w-20 h-20   " />
	</ul>
	<ul class="  space-x-16 mt-4 hidden md:flex">
			<li><a href="/" class="font-bold ">Inicio</a></li>
			<li><a href="/" class="font-bold ">Productos</a></li>			
			<li><a href="/" class="font-bold ">Contacto</a></li>
		</ul>
		<ul>
			<a href="https://wa.me/527461217034?text=Quiero%20hacer%20un%20pedido" target="_blank" class=" md:flex bg-blue-200  font-bold text-md px-4 py-3 rounded-md hover:scale-105 transition-transform">Hacer pedido</a>
		</ul>
		
	</section>
		</nav>