---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Productos from '../components/Productos.astro';
import Characteres from '../components/Characteres.astro';


---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>lotraesmexico</title>
  </head>
  <body  class="">
   <Nav/>
   <Header/>
   <Productos/>
   <Characteres/>
    <Footer
  </body>
</html>